code {
  background-color: color-mix(in srgb, var(--mat-badge-background-color) 10%, transparent);
  color: var(--mat-badge-background-color);
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0 0.1rem;
}

.app-sticked {
  font-weight: 600;
  background-color: var(--mat-app-background-color);
}

.app-stickable::after {
  content: "location_off";
}

.app-sticked::after {
  content: "location_on";
  color: var(--mdc-checkbox-selected-icon-color);
}

.app-stickable,
.app-sticked {
  &::after {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
  }
}
