<div class="input-wrapper">
  <button
    class="icon-btn"
    aria-label="Select a icon"
    #input
    matTooltip="{{ tooltip }}"
    [disabled]="disabled"
    [mat-menu-trigger-for]="iconMenu"
  >
    <div class="icon-value">
      <!-- <mat-icon class="placeholder" *ngIf="!value">more_horiz</mat-icon> -->
      @if (!value) {
        <span class="placeholder"></span>
      }
      @if (value) {
        <mat-icon [svgIcon]="value!"></mat-icon>
      }
      <div class="mat-mdc-select-arrow-wrapper">
        <div class="mat-mdc-select-arrow">
          <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" aria-hidden="true">
            <path d="M7 10l5 5 5-5z" />
          </svg>
        </div>
      </div>
    </div>
  </button>
</div>
<mat-menu #iconMenu="matMenu" xPosition="after" yPosition="below">
  @if (value) {
    <button
      mat-icon-button
      matSuffix
      aria-label="clear icon"
      (click)="value = null"
      class="clear-button"
    >
      <mat-icon>close</mat-icon>
    </button>
  }
  <app-icon-tree
    [expanded]="true"
    [value]="value"
    (valueChange)="onSelectionChange($event)"
  ></app-icon-tree>
</mat-menu>
