<div class="input-wrapper">
	<button
		class="icon-btn"
		mat-button
		aria-label="Select a icon"
		#input
		matTooltip="{{ tooltip }}"
		[disabled]="disabled"
		[mat-menu-trigger-for]="iconMenu"
	>
		<mat-icon class="placeholder" *ngIf="!value">more_horiz</mat-icon>
		<mat-icon *ngIf="value" [svgIcon]="value!"></mat-icon>
		<div class="mat-mdc-select-arrow-wrapper">
			<div class="mat-mdc-select-arrow">
				<svg
					viewBox="0 0 24 24"
					width="24px"
					height="24px"
					focusable="false"
					aria-hidden="true"
				>
					<path d="M7 10l5 5 5-5z" />
				</svg>
			</div>
		</div>
	</button>
</div>
<mat-menu
	#iconMenu="matMenu"
	xPosition="after"
	yPosition="below"
	class="app-lang-picker-menu"
>
	<app-icon-tree
		[expanded]="true"
		[value]="value"
		(valueChange)="onChange($event)"
	></app-icon-tree>
</mat-menu>
