<mat-nav-list class="app-tree-nav" [class.rail]="isRail()">
  <div class="rail-header">
    <button
      mat-icon-button
      class="rail-toggle"
      (click)="isRail.set(!isRail())"
      [attr.aria-label]="isRail() ? 'Rail menu' : 'full menu'"
      class="rail-toggle"
    >
      @if (isRail()) {
        <mat-icon>menu</mat-icon>
      } @else {
        <mat-icon>menu_open</mat-icon>
      }
    </button>
  </div>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes. dive default padding by 2 -->
    <mat-tree-node
      class="menu-node"
      *matTreeNodeDef="let node"
      matTreeNodePadding
      matTreeNodePaddingIndent="24"
      routerLinkActive="active-menu-node"
      [routerLinkActiveOptions]="{ exact: true }"
      #rla="routerLinkActive"
    >
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled class="tree-button" aria-hidden="true"></button>
      <a mat-list-item [routerLink]="node.path" [activated]="rla.isActive" class="menu-item">
        <mat-icon matListItemIcon class="menu-icon" [fontIcon]="node.icon" />
        <div matListItemTitle class="menu-label">{{ node.name }}</div>
      </a>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      class="menu-node"
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
      routerLinkActive="active-menu-node"
      [routerLinkActiveOptions]="{ exact: true }"
      #rla="routerLinkActive"
    >
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
        class="tree-button"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <a mat-list-item [routerLink]="node.path" [activated]="rla.isActive" class="menu-item">
        <mat-icon matListItemIcon class="menu-icon" [fontIcon]="node.icon" />
        <div matListItemTitle class="menu-label">{{ node.name }}</div>
      </a>
    </mat-tree-node>
  </mat-tree>
</mat-nav-list>
