:host {
  --app-menu-tree-indent: 24px;
  --mat-tree-node-min-height: max(var(--app-menu-tree-indent), 1.25rem);
  .mdc-list-item__content {
    display: block;
    max-width: 100%; //for ellipsis to work when in rail mode
  }
}
.app-tree-nav {
  transition: width 240ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  .rail-header {
    display: flex;
    align-items: center;
    justify-content: start;

    .rail-toggle {
      margin-left: var(--app-menu-tree-indent);
    }
  }

  .menu-tree-node {
    .tree-toggle-button {
      width: var(--app-menu-tree-indent);
      height: var(--app-menu-tree-indent);
      border: none;
      background-color: inherit;
      border-radius: 4px;
      padding: 0;
      flex-shrink: 0;
    }
    .menu-item {
      .menu-icon {
        margin-left: calc(var(--mat-list-list-item-leading-icon-start-space, var(--app-gap)) / 2);
        margin-right: calc(var(--mat-list-list-item-leading-icon-end-space, var(--app-gap)) / 2);
      }
      .menu-label {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0 var(--mat-sys-corner-small);
        max-width: 100%;
      }
    }
  }
}

.app-tree-nav.rail {
  width: 96px;

  .menu-tree-node {
    padding: 0 !important;

    .tree-toggle-button {
      //to hide tree control :
      display: none;
    }
    .menu-item {
      padding: 0;
      display: grid;
      justify-content: stretch;
      align-items: center;

      .menu-icon {
        justify-self: anchor-center;
      }
      .menu-label {
        max-width: 100%;
        text-align: center;
        margin-top: 0;
        color: var(--mdc-list-list-item-supporting-text-color, var(--mat-sys-on-surface-variant));
        font-family: var(
          --mdc-list-list-item-supporting-text-font,
          var(--mat-sys-body-medium-font)
        );
        line-height: var(
          --mdc-list-list-item-supporting-text-line-height,
          var(--mat-sys-body-medium-line-height)
        );
        font-size: var(--mdc-list-list-item-supporting-text-size, var(--mat-sys-body-medium-size));
        font-weight: var(
          --mdc-list-list-item-supporting-text-weight,
          var(--mat-sys-body-medium-weight)
        );
        letter-spacing: var(
          --mdc-list-list-item-supporting-text-tracking,
          var(--mat-sys-body-medium-tracking)
        );
      }
    }
  }
}
