.menu-node {
  position: relative;

  &.active-menu-node:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: calc(var(--mdc-list-list-item-focus-state-layer-opacity));
  }

  .tree-button.mat-mdc-icon-button {
    width: calc(var(--mdc-icon-button-state-layer-size) / 2);
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    > .mat-mdc-button-persistent-ripple,
    .mat-mdc-button-persistent-ripple::before {
      border-radius: 0;
    }
  }
  .tree-label {
    background-color: smoke;
  }

  .menu-icon {
    margin-right: calc(var(--mat-list-list-item-leading-icon-end-space, 32px) / 2);
  }

  .mdc-list-item {
  }
}
