<mat-nav-list>
  <div class="rail-header">
    <mat-button-toggle
      class="rail-toggle"
      [value]="isRail()"
      (change)="isRail.set(!$event.value)"
      [aria-label]="isRail() ? 'Rail menu' : 'full menu'"
    >
      @if (isRail()) {
        <mat-icon>menu</mat-icon>
      } @else {
        <mat-icon>menu_open</mat-icon>
      }
    </mat-button-toggle>
  </div>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [class.rail]="isRail()">
    <!-- This is the tree node template for leaf nodes. dive default padding by 2 -->
    <mat-tree-node
      class="menu-node"
      *matTreeNodeDef="let node"
      matTreeNodePadding
      matTreeNodePaddingIndent="10"
      routerLinkActive="active-menu-node"
      #rla="routerLinkActive"
    >
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled class="tree-button" title="menu button">&nbsp;</button>
      <a mat-list-item [routerLink]="node.path" [activated]="rla.isActive" class="menu-item">
        <mat-icon matListItemIcon class="menu-icon" [fontIcon]="node.icon" />
        <div matListItemTitle class="menu-label">{{ node.name }}</div>
      </a>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      class="menu-node"
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
      routerLinkActive="active-menu-node"
      #rla="routerLinkActive"
    >
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
        class="tree-button"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <a mat-list-item [routerLink]="node.path" [activated]="rla.isActive" class="menu-item">
        <mat-icon matListItemIcon class="menu-icon" [fontIcon]="node.icon" />
        <div matListItemTitle class="menu-label">{{ node.name }}</div>
      </a>
    </mat-tree-node>
  </mat-tree>
</mat-nav-list>
