.list-of-values-dashboard {
  margin-top: var(--app-gap);
  display: flex;
  flex-direction: row;
  column-gap: var(--app-gap);
  row-gap: var(--app-gap);
  justify-content: center;
  align-items: center;

  .kpi-card {
    display: flex;
    flex-direction: column;
    row-gap: var(--app-gap);
    justify-content: center;
    align-items: center;
    &[routerlink] {
      cursor: pointer;
      .kpi {
        border-color: var(--mat-sys-primary);
      }
      &:hover {
        background-color: var(--mat-sys-surface-container-high);
        .kpi {
          border-width: 5px;
        }
      }
    }
  }
  .kpi {
    --kpi-size: 100px;
    margin: var(--app-gap);
    width: var(--kpi-size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 3px solid;
    border-color: color-mix(
      in srgb,
      var(--mat-sys-on-surface) 38%,
      transparent
    ); //disabled state color
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--kpi-size) * 0.6);
  }
}
