@if (dataSource().loading$ | async; as loading) {
  <div class="progress-container">
    <mat-progress-bar
      [mode]="isError(loading) ? 'determinate' : 'query'"
      value="100"
      [color]="isError(loading) ? 'warn' : 'primary'"
    ></mat-progress-bar>
  </div>
}
<div class="table-container">
  <div class="config-button" matRipple>
    <button [matMenuTriggerFor]="columnMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #columnMenu="matMenu" xPosition="before">
      <app-table-config-editor [options]="options()!"></app-table-config-editor>
    </mat-menu>
  </div>
  <mat-table
    [dataSource]="dataSource()"
    multiTemplateDataRows
    fixedLayout="true"
    matSort
    matSortDisableClear
    matSortDirection="asc"
    class="table"
    [class.autohide]="options()!.responsive"
    [style.max-height]="
      options()!.paginator ? 'calc(' + maxHeight() + ' - var(--paginator-height))' : maxHeight()
    "
  >
    @for (column of options()!.columns.columns; track column) {
      <ng-container [matColumnDef]="column.name" [sticky]="column.sticky && !column.hidden">
        <!-- Checkbox Column (header)-->
        @if (column.selector) {
          <mat-header-cell *matHeaderCellDef class="selector-column" [hidden]="column.hidden">
            <mat-checkbox
              (change)="$event ? toggleAllRows() : null"
              [checked]="selection()!.hasValue() && isAllSelected()"
              [indeterminate]="selection()!.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="selector-column" [hidden]="column.hidden">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection()!.toggle(row) : null"
              [checked]="selection()!.isSelected(row)"
            >
            </mat-checkbox>
          </mat-cell>
        }
        <!-- regular Column (header)-->
        @if (!column.selector) {
          <mat-header-cell
            [mat-sort-header]="column.name"
            [disabled]="!column.sortable"
            [hidden]="column.hidden"
            *matHeaderCellDef
          >
            {{ column.name }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [hidden]="column.hidden">
            @if (row[column.name] | instanceof: Date) {
              {{ row[column.name] | date: "YYYY-MM-dd" }}
            } @else {
              {{ row[column.name] }}
            }
          </mat-cell>
        }
      </ng-container>
    }

    <mat-header-row
      *matHeaderRowDef="options()!.columns.names; sticky: options()!.stickyHeader"
    ></mat-header-row>
    <mat-row matRipple *matRowDef="let row; columns: options()!.columns.names"></mat-row>
  </mat-table>
</div>
@if (dataSource().counting$ | async; as counting) {
  <div class="progress-container">
    <mat-progress-bar
      [mode]="isError(counting) ? 'determinate' : 'query'"
      value="100"
      [color]="isError(counting) ? 'warn' : 'primary'"
    ></mat-progress-bar>
  </div>
}
@if (options()!.paginator) {
  <mat-paginator
    class="paginator"
    [pageSizeOptions]="[5, 10, 20, 100]"
    showFirstLastButtons
    [length]="dataSource().length$ | async"
    aria-label="Select page"
  >
  </mat-paginator>
}
