.value-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--app-gap);
    column-gap: var(--app-gap);
    margin-bottom: var(--app-gap);

    .value-button {
        flex: 1 1 auto;

        .value-item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            column-gap: calc(var(--app-gap)/2);
            align-items: center;
            justify-content: flex-start;
            min-width: 160px;
            max-width: 300px;


            .mat-icon {
                // force size when in mat-button
                width: 24px;
                height: 24px;
                margin-right: 0;
                min-width: 24px;
            }

            .no-icon {
                opacity: 0.1;
            }

            .value-code {
                font-weight: 700;
            }

            .value-label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex: 1 1 auto;
            }
        }
    }

    .spacer {
        flex: 1 1 auto;
    }

    .add-button {
        z-index: 2;
    }
}