.value-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--app-gap);
    column-gap: var(--app-gap);
    margin-bottom: var(--app-gap);

    .value-button {
        flex: 1 1 auto;
        max-width: 320px;
        max-width: fit-content;
        //max-width: 340px;
        display: block;
        min-width: 160px;

        .value-item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            column-gap: calc(var(--app-gap)/2);
            align-items: center;
            justify-content: space-between;
            min-width: 0;

            .mat-icon {
                // force size when in mat-button
                width: 24px;
                height: 24px;
                margin-right: 0;
                min-width: 24px;
            }

            .no-icon {
                opacity: 0.1;
            }

            .value-code {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 700;
                flex-shrink: 1;
            }

            .value-label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex-shrink: 3;
            }
        }
    }

    .spacer {
        flex: 1 1 auto;
    }

    .add-button {
        z-index: 2;
    }
}