<div>
  <div class="value-list">
    <button
      mat-stroked-button
      *ngFor="let v of page | async"
      (click)="createOrEdit(v)"
      class="value-button"
    >
      <div class="value-item">
        <mat-icon *ngIf="v.icon; else noIcon" [svgIcon]="v.icon"></mat-icon>
        <ng-template #noIcon
          ><mat-icon class="no-icon">image</mat-icon></ng-template
        >
        <mat-label class="value-code">{{ v.name }}</mat-label>
        <mat-label class="value-label">{{ v.label }}</mat-label>
      </div>
    </button>
    <div class="spacer"></div>
    <button
      mat-mini-fab
      color="primary"
      aria-label="add"
      (click)="createOrEdit()"
      class="add-button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-paginator
    class="paginator"
    [pageSizeOptions]="[5, 10, 20, 100]"
    [pageSize]="10"
    showFirstLastButtons
    [length]="dataSource.length$ | async"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
