@use "@angular/material" as mat;

@use "./theme";

@mixin theme {
  // define theme palettes for your application using the Material 3 color system.

  @include theme.create-theme(
    $primary: mat.$violet-palette,
    $success: mat.$green-palette,
    $warning: mat.$yellow-palette,
    $error: mat.$red-palette
  );
}
