<nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="center" class="tabs-nav"
	[class.sticky]="sticky" [class.mat-elevation-z1]="sticky" (indexFocused)="onFocus($event)">
	<!-- add [roles-any]="link.roles" (granted)="link.granted=$event" to the ng-container  to hide the tabs-->
	<ng-container *ngFor="let link of navLinks">
		<!-- add  *ngIf="link.granted" to the mat-tab-link to hide the tabs-->

		<a mat-tab-link [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
			<mat-icon *ngIf="link.icon !== undefined" class="tab-icon" [fontIcon]="link.icon"></mat-icon>
			{{ link.name }}
		</a>
	</ng-container>
</nav>
<mat-tab-nav-panel #tabPanel [@routeAnimations]="animation">
	<router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)" #outlet="outlet"></router-outlet>
</mat-tab-nav-panel>