<nav
  mat-tab-nav-bar
  [tabPanel]="tabPanel"
  mat-stretch-tabs="false"
  mat-align-tabs="center"
  class="tabs-nav"
  [class.sticky]="sticky()"
  [class.mat-elevation-z1]="sticky()"
  (indexFocused)="onFocus($event)"
>
  <!-- add [appAnyRoles]="link.roles" (granted)="link.granted=$event" to the ng-container  to hide the tabs-->
  @for (link of navLinks; track link) {
    <!-- add  *ngIf="link.granted" to the mat-tab-link to hide the tabs-->
    <a
      mat-tab-link
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      @if (link.icon !== undefined) {
        <mat-icon class="tab-icon" [fontIcon]="link.icon"></mat-icon>
      }
      {{ link.name }}
    </a>
  }
</nav>
<mat-tab-nav-panel #tabPanel [@routeAnimations]="animation">
  <router-outlet
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    #outlet="outlet"
  ></router-outlet>
</mat-tab-nav-panel>
