.sticky {
    position: sticky;
    top: 0;
    background-color: var(--mat-sidenav-content-background-color);
    margin-left: calc(var(--app-gap) * -1);
    margin-right: calc(var(--app-gap) * -1);
}
