<section>
	<h2>This demo illustrate ..</h2>
	<h3>Overview</h3>
	<p>
		TODO
	</p>
</section>
<mat-divider></mat-divider>

<section class="demo-options">
	<div class="label-container">
		<button mat-flat-button (click)="setLanguage('en-US')" color="accent">
			EN (default, fallback)
		</button>
		<button mat-flat-button (click)="setLanguage('fr-FR')" color="primary">
			FR
		</button>
		<button mat-flat-button (click)="setLanguage('pt-PT')" color="warn">
			PT (no translation)
		</button>
		<button mat-stroked-button (click)="updateDate()">UPDATE</button>
	</div>
	<mat-divider></mat-divider>
	<section class="demo-options">
		<p>raw date: {{ today }}</p>
		<p>dateFormat.day: {{ "format.day" | translate }}</p>
		<p>formatted date: {{ today | localizedDate: "format.day" }}</p>
		<p>formatted date: {{ today | localizedDate: "format.datetime" }}</p>

		<mat-form-field>
			<mat-label>Enter a date range</mat-label>
			<mat-date-range-input [rangePicker]="picker">
				<input matStartDate placeholder="Start date" />
				<input matEndDate placeholder="End date" />
			</mat-date-range-input>
			<mat-hint>{{ "format.weekYear" | translate }} –
				{{ "format.weekYear" | translate }}</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-date-range-picker #picker></mat-date-range-picker>
		</mat-form-field>
	</section>