.root-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .root-toolbar {
    position: sticky;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    color: var(--mat-sys-primary);
    background: var(--mat-sys-primary-container);
    min-height: var(--mat-toolbar-mobile-height, 56px); //fix as var/minheight not defined in a21

    .app-title {
      margin-left: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .spacer {
      flex: 1 1 auto;
    }
    .app-nav-button {
      color: var(--mat-sys-primary);
    }
  }

  .mat-sidenav-fixed {
    margin-top: var(--mat-toolbar-mobile-height, 56px);
  }

  .root-sidenav-container {
    .notif-sidenav {
      min-width: 366px;
      max-width: 383px;
    }

    .root-content {
      background-color: var(--mat-sys-surface-container-lowest);
      margin: 0 var(--app-gap);
      view-transition-name: zmain-navigation;
    }

    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
			 causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
}

.root-is-mobile .root-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
