@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
	$primary: map.get($theme, primary);
	$accent: map.get($theme, accent);
	$warn: map.get($theme, warn);
	$background: map.get($theme, background);
	$foreground: map.get($theme, foreground);
	$is-dark-theme: map.get($theme, is-dark);

	$sticky-background-opacity: if($is-dark-theme, 0.2, 0.03);
	.notification-card {
		&.notification-info {
			background: mat.get-color-from-palette($primary);
			color: mat.get-color-from-palette($primary, "500-contrast");
			.notification-title {
				color: color-mix(
					in srgb,
					var(--mat-card-subtitle-text-color) 15%,
					mat.get-color-from-palette($primary, "500-contrast")
				);
			}
		}
		&.notification-warn {
			background: mat.get-color-from-palette($accent);
			color: mat.get-color-from-palette($accent, "500-contrast");
			.notification-title {
				color: color-mix(
					in srgb,
					var(--mat-card-subtitle-text-color) 15%,
					mat.get-color-from-palette($accent, "500-contrast")
				);
			}
		}
		&.notification-sever {
			background: mat.get-color-from-palette($warn);
			color: mat.get-color-from-palette($warn, "500-contrast");
			.notification-title {
				color: color-mix(
					in srgb,
					var(--mat-card-subtitle-text-color) 15%,
					mat.get-color-from-palette($warn, "500-contrast")
				);
			}
		}
	}
}
