<span class="snack-label" matSnackBarLabel>
	<ng-container [ngSwitch]="data.severity">
		<mat-icon *ngSwitchCase="'sever'">error</mat-icon>
		<mat-icon *ngSwitchCase="'warn'">warning</mat-icon>
		<mat-icon *ngSwitchCase="'info'">info</mat-icon>
		<mat-icon *ngSwitchDefault>circle_notifications</mat-icon> </ng-container>{{ data.message }}
</span>
<span matSnackBarActions *ngIf="data.persistent">
	<button mat-button matSnackBarAction (click)="close()">OK</button>
	<button mat-button matSnackBarAction (click)="dismissNotification(data)">
		DISMISS
	</button>
</span>