<mat-card class="notification-card" [class]="'notification-' + notif.severity">
    <mat-card-header class="notification-header">
        <ng-container [ngSwitch]="notif.severity">
            <mat-icon *ngSwitchCase="'sever'">error</mat-icon>
            <mat-icon *ngSwitchCase="'warn'">warning</mat-icon>
            <mat-icon *ngSwitchCase="'info'">info</mat-icon>
            <mat-icon *ngSwitchDefault>circle_notifications</mat-icon>
        </ng-container>
        <div class="notification-title">
            {{ notif.date | date: "hh:mm:ss" }}
        </div>
        <span class="spacer"></span>

        <button mat-icon-button (click)="dismiss()">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content class="notification-content">
        {{ notif.message }}
    </mat-card-content>
</mat-card>