.notif-button-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-end;
	grid-gap: calc(var(--app-gap) / 2);
	padding: calc(var(--app-gap) / 2) var(--app-gap);
}
