<span class="snack-label" matSnackBarLabel>
  <ng-container [ngSwitch]="data.severity">
    <mat-icon *ngSwitchCase="'sever'">error</mat-icon>
    <mat-icon *ngSwitchCase="'warn'">warning</mat-icon>
    <mat-icon *ngSwitchCase="'info'">info</mat-icon>
    <mat-icon *ngSwitchDefault>circle_notifications</mat-icon> </ng-container
  >{{ data.message }}
</span>
<span matSnackBarActions *ngIf="data.persistent">
  <button mat-icon-button matSnackBarAction (click)="close()" arial-label="OK">
    <mat-icon>check</mat-icon>
  </button>
  <button
    mat-icon-button
    matSnackBarAction
    (click)="dismissNotification(data)"
    aria-label="Dismiss"
  >
    <mat-icon>delete_forever</mat-icon>
  </button>
</span>
