<mat-card class="notification-card" [class]="'notification-' + notification.severity">
  <mat-card-header class="notification-header">
    @switch (notification.severity) {
      @case ('sever') {
        <mat-icon>error</mat-icon>
      }
      @case ('warn') {
        <mat-icon>warning</mat-icon>
      }
      @case ('info') {
        <mat-icon>info</mat-icon>
      }
      @default {
        <mat-icon>circle_notifications</mat-icon>
      }
    }
    <div class="notification-title">
      {{ notification.date | date: "hh:mm:ss" }}
    </div>
    @if (notification.ref !== undefined && notification.ref !== '') {
      <a
        mat-icon-button
        [href]="notification.ref"
        >
        <mat-icon>link</mat-icon>
      </a>
    }
    <span class="spacer"></span>

    <button mat-icon-button (click)="dismiss()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="notification-content">
    <div>{{ notification.message }}</div>
  </mat-card-content>
  <mat-card-footer class="notification-footer">
    <div class="notification-progress">
      @if (hasProgress) {
        <mat-progress-bar
          class="notification-progress-bar"
          [mode]="progressMode"
          [value]="progressValue"
          [color]="progressColor"
          >
        </mat-progress-bar>
      }
      @if (hasProgress) {
        <div class="progress-hint">
          @if (progressValue >= 0) {
            <span>{{ progressValue | number: "1.0-0" }}%</span>
          }
        </div>
      }
    </div>
  </mat-card-footer>
</mat-card>
