.app-stick {
    background-color: var(--mat-app-background-color);
}

.demo-options {
    margin: 20px 10px;

    display: flex;
    flex-direction: column;
    & > * {
        margin-bottom: 10px;
    }

    .label-container {
        display: flex;
        justify-content: flex-start;
        margin: 20px 0;
        column-gap: 16px;
        .value-label {
            font-weight: 600;
        }
    }
}

.variable-width-container {
    width: 100%;
    margin: auto;
}

.mat-column-title {
    //max-width: 400px;
    min-width: 350px;
    flex-basis: 350px;
}
.mat-column-number {
    max-width: 40px;
    min-width: 40px;
    flex-basis: 40px;
}
.mat-column-created,
.mat-column-state {
    max-width: 150px;
    min-width: 115px;
    flex-basis: 115px;
}
