:host {
  --app-icon-tree-indent: 24px;
  --mat-tree-node-min-height: max(var(--app-icon-tree-indent), 1.25rem);
}

.icon-tree {
  max-width: 200px;
  /*
 * This padding sets alignment of the nested nodes.
 */
  .mat-nested-tree-node div[role="group"] {
    padding-left: var(--app-icon-tree-indent);
  }
  /*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
  div[role="group"] > .mat-nested-tree-node {
    padding-left: var(--app-icon-tree-indent);
  }
  /**
  * This class is used to hide collapsed tree.
   */
  .icon-tree-node.icon-tree-invisible {
    display: none;
  }

  .icon-tree-node {
    display: block;
  }

  .category-node {
    display: flex;
    align-items: center;
    flex: 1;
    word-wrap: break-word;

    .tree-toggle-button {
      width: var(--app-icon-tree-indent);
      height: var(--app-icon-tree-indent);
      border: none;
      background-color: inherit;
      border-radius: 4px;
      padding: 0;
    }
  }
}

.icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  --icon-padding: calc(var(--app-gap) / 4);
  .icon-list-item {
    display: flex;
    padding: var(--icon-padding);
    border-radius: 4px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    cursor: pointer;
    &[selected="true"] {
      background-color: var(--mat-sys-secondary-container);
      border-color: var(--mat-sys-primary);
    }
    // make icon bigger
    &:hover,
    &[selected="true"] {
      padding: 0 0.5px; //fix padding increase on hover/selected state
      .selectable-icon {
        width: calc(24px - 1px + (var(--icon-padding) * 2));
        height: calc(24px - 1px + (var(--icon-padding) * 2));
      }
    }
  }
}
