@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  /* retrieve variables from theme */
  /* (all possible variables, use only what you really need) */
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);
  $name: map.get($theme, name);

  @if $name {
    // Nothing todo
  } @else {
    $name: "";
  }
  //apply outside current theme
  @at-root [local-theme="#{$name}"] {
    &.#{$name}.mat-icon.theme-example-icon {
      // The below colors need to align with the themes defined in ThemePicker
      svg {
        .app-theme-icon-background {
          fill: mat.get-color-from-palette($background, background);
        }
        .app-theme-icon-button {
          fill: mat.get-color-from-palette($accent);
        }
        .app-theme-icon-toolbar {
          fill: mat.get-color-from-palette($primary);
        }
      }
    }
  }
}
