@use "@angular/material" as mat;
@use "sass:map";

@use "./app/app.component-theme" as app;
@use "./app/shared/components/table-expandable-rows/table-expandable-rows.component-theme" as table-expandable-rows;
@use "./app/shared/components/tabs-nav/tabs-nav.component-theme" as tabs-nav;
@use "./app/shared/components/notification-center/notification.component-theme" as notification;

html {
	--app-gap: 16px;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
}
// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
	// $primary: map.get($theme, primary);
	// $accent: map.get($theme, accent);
	// $warn: map.get($theme, warn);
	// $background: map.get($theme, background);
	// $foreground: map.get($theme, foreground);

	@include app.theme($theme);
	@include table-expandable-rows.theme($theme);
	@include tabs-nav.theme($theme);
	@include notification.theme($theme);
}
