// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "sass:map";
/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "styles/azure-theme" as azure-theme;
@use "styles/violet-theme" as violet-theme;
@use "animations";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  // define theme palettes for your application using the Material 3 color system.
  &.default-theme {
    //apply the theme to the application. This will generate the CSS variables for the theme colors, typography, and density.
    color-scheme: light dark;
    //this is the default theme
    @include azure-theme.theme;
  }
  // custom themes go here
  &.violet-theme {
    color-scheme: light dark;
    @include violet-theme.theme;
  }

  &.dark {
    color-scheme: dark;
  }
  &.light {
    color-scheme: light;
  }
}

//define few utility classes
.mdc-button {
  & > .mdc-button__label {
    text-transform: uppercase;
    //force button to shrink & display ellipsis on text
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.icon-only {
    min-width: 24px;
    // padding: 0 calc(var(--mat-filled-button-horizontal-padding)/2);

    & > .mdc-button__label {
      display: none;
    }

    & > mat-icon {
      margin: 0;
      // width: 24px;
      // height: 24px;
      // font-size: 24px;
    }
  }
}
