@use "sass:map";
/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./styles/ex-theme" as ex;
@use "./app-theme";

// Include material core styles.
@include mat.core();

// Define the light theme.
$primary: mat.$m2-indigo-palette;
$accent: mat.$m2-pink-palette;
// The warn palette is optional (defaults to red).
$warn: mat.$m2-red-palette;

$success: mat.$m2-green-palette;
$warning: mat.$m2-orange-palette;
$error: mat.$m2-red-palette;

$theme: ex.extend-theme($primary, $accent, $warn, $success, $warning, $error);

// $theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $primary,
//       accent: $accent,
//       warn: $warn
//     ),
//     typography: mat.define-typography-config()
//   )
// );

//define few utility classes
.mdc-button {
  & > .mdc-button__label {
    text-transform: uppercase;
    //force button to shrink & display elipsis on text
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.icon-only {
    min-width: 24px;
    // padding: 0 calc(var(--mat-filled-button-horizontal-padding)/2);

    & > .mdc-button__label {
      display: none;
    }

    & > mat-icon {
      margin: 0;
      width: 24px;
      height: 24px;
      font-size: 24px;
    }
  }
}

@include mat.all-component-themes($theme);
@include app-theme.theme($theme);
